<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(<%= image_path "banner.png" %>);">
  <div class="container">
    <h1>Trash Treasure</h1>
    <p>Follow the map and you'll find what you seek!</p>
    <br>
    <div class="navigate-buttons">
      <a class="btn btn-flat-primary m-3 p-4 btn-md" href="/filter"><i class="fa-solid fa-magnifying-glass-location"></i> Find a bin</a>
      <a class="btn btn-flat-secondary m-3 p-4 btn-md" href="/places/new" style="color: #618264; border: 2px solid #618264;"><i class="fa-solid fa-plus"></i> Add a place</a>
    </div>
  </div>
</div>
