<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner_trash_bins.jpg" %>);">
  <div class="container">
    <h1>Trash Treasure</h1>
    <p>Follow the map and you find what you seek!</p>
    <div class="navigate-buttons">
      <a class="btn btn-flat-primary m-3 p-4 btn-lg" href="/filter"><i class="fa-solid fa-magnifying-glass-location"></i> Find a bin</a>
      <a class="btn btn-flat-secondary m-3 p-4 btn-lg" href="#"><i class="fa-solid fa-plus"></i> Add a bin</a>
    </div>
  </div>
</div>
