:root {
  --primary: #618264;
  --secondary: #ffffff;
  --hover: #97cd9c;
  --danger: #AC4425;
}

.btn {
  &.primary{
    background-color: var(--primary);

    &:hover {
      background-color: var(--hover);
    }
  }
  &.secondary {
    background-color: var(--secondary);

    &:hover {
      background-color: var(--hover);
    }
  }
}

.btn-flat-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: var(--primary);
  transition: background 0.3s ease;
  width: 50%xs;
  font-weight: bold;
  padding-left: 10px;
}

.btn-flat:hover {
  background: var(--hover);
  color: white;
}

.btn-flat-secondary {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: var(--secondary);
  transition: background 0.3s ease;
  width: 50%vw;
  font-weight: bold;
  padding-left: 10px;
}

.btn-flat-danger {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: var(--danger);
  transition: background 0.3s ease;
  width: 50%;

}

.btn-flat-primary:active {
  background: var(--hover);
  color: white;
}

.btn-flat-secondary:active {
  background: var(--hover);
  color: white;
}

.navigate-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
