:root {
  --primary: #618264;
  --secondary: #B0D9B1;
  --hover: #D0E7D2;
}

.btn-flat-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: var(--primary);
  transition: background 0.3s ease;
}

.btn-flat-secondary {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: var(--secondary);
  transition: background 0.3s ease;
}

.btn-flat-primary:active {
  background: var(--hover);
  color: white;
}

.btn-flat-secondary:active {
  background: var(--hover);
  color: white;
}

.navigate-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
