.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  ///stackoverflow.com/questions/17579750/drop-down-menu-not-working-on-mobile-devices/
}
