<div class="container">
  <div class="overflow-auto bg-white">
    <h1 class="text-center p-1 mb-3" style="font-size: 36px; font-weight: bold; text-decoration: none;">
      <%= place.name %>
      <br>
    </h1>
    <div class="d-flex card-text justify-content-center m-4 position-relative ">
      <h3>
        <%= place.description %>
      </h3>
    </div>
    <div class="d-flex flex-row-reverse">
      <p class="mb-2" style="margin-right: 30px;">
        <a href="<%= update_form_place_path(place, bin_id: place.trash_bins.first.id) %>">
          Report <i class="fa-regular fa-message"></i></a>
      </p>
      <br>
      <br>
    </div>
    <div class="row justify-content-center">
      <%= link_to place_path(place), class: "btn btn-flat-primary", style: "width:40%; margin-left: 10px; font-weight: bold;" do %>
        More Info
      <% end %>
    </div>
  </div>
</div>
