<!-- app/views/places/create_survey.html.erb -->
<div class = "container">
  <h1>You've Arrived!</h1>
  <%= simple_form_for @trash_bin, method: :get do |f| %>
    <%= f.input :full, as: :boolean, label: 'Is the bin full?' %>
    <%= f.input :trash_type, label: 'What kind of trash?' %>

    <%= f.button :submit, 'Return to homepage' %>
  <% end %>
</div>
